node_modules
.env
coverage
coverage.json
typechain
typechain-types
.DS_Store

#Hardhat files
cache
artifacts
build 
#Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.js
.pnp.loader.mjs

#VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/cpptools.json
!.vscode/c_cpp_properties.json
!.vscode/extensions.json

#Others
*.log
*.lock
*.sqlite
*.sqlite-journal
*.tmp
*.local
*.bak
*.swp
*.swo
*.orig
*.rej
*.DS_Store
*.min.js
*.min.css
*.min.html
*.min.json
*.min.xml
*.min.md
*.min.rst
*.min.yaml
*.min.yml
*.min.csv
*.min.ts
*.min.tsx
*.min.jsx
*.min.php
*.min.rb
*.min.py
*.min.sh
*.min.bash
*.min.zsh
*.min.ps1
*.min.psm1
*.min.powershell
*.min.cmd
*.min.bat
*.min.vbs
*.min.vb
*.min.pl
*.min.php
*.min.php3
*.min.php4
*.min.php5
*.min.php7
*.min.php8
*.min.phtml
*.min.pht           